<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reward.help.merchant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.reward.help.merchant.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 验证手机号-->
        <activity
            android:name=".activity.CheckPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 设置密码-->
        <activity
            android:name=".activity.SetNewPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".activity.ApplyCreateGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".activity.CouponSendListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".activity.QueryApplyGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 群组聊天-->
        <activity
            android:name=".chat.ui.GroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.ui.ContextMenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".chat.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".chat.ui.PickAtUserActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".chat.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".chat.ui.GroupDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".chat.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>

        <activity
            android:name=".chat.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait">

        </activity>
        <!-- 开机自启动服务 -->
        <receiver android:name="chat.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>