<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.help.reward">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!--sms starat-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--sms end-->
    <!--umeng统计-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--微信登录-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--支付宝支付-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--58d5e426677baa2007001842-->
    <application
        android:name="com.help.reward.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.help.reward.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 验证身份 -->
        <activity
            android:name="com.help.reward.activity.VerifyIdentityActivity"
            android:screenOrientation="portrait" />

        <!--登录-->
        <activity
            android:name="com.help.reward.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--注册-->
        <activity
            android:name="com.help.reward.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <!--忘记密码-->
        <activity
            android:name="com.help.reward.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />

        <!--重置密码-->
        <activity
            android:name="com.help.reward.activity.ResetPwdActivity"
            android:screenOrientation="portrait" />

        <!--添加地址-->
        <activity
            android:name="com.help.reward.activity.AddAddressActivity"
            android:screenOrientation="portrait" />

        <!--地址管理-->
        <activity
            android:name="com.help.reward.activity.AddressManagerActivity"
            android:screenOrientation="portrait" />

        <!--个人信息-->
        <activity
            android:name="com.help.reward.activity.PersonInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--设置-->
        <activity
            android:name="com.help.reward.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <!--关于-->
        <activity
            android:name="com.help.reward.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!--意见反馈-->
        <activity
            android:name="com.help.reward.activity.FeedbackActivity"
            android:screenOrientation="portrait" />

        <!--实名认证-->
        <activity
            android:name="com.help.reward.activity.CertificationActivity"
            android:screenOrientation="portrait" />

        <!--帮助中心-->
        <activity
            android:name="com.help.reward.activity.HelpCenterActivity"
            android:screenOrientation="portrait" />

        <!--帮助中心详细-->
        <activity
            android:name="com.help.reward.activity.HelpCenterInfoActivity"
            android:screenOrientation="portrait" />

        <!--我的账户-->
        <activity
            android:name="com.help.reward.activity.MyAccountActivity"
            android:screenOrientation="portrait" />

        <!--帮赏分-->
        <activity
            android:name="com.help.reward.activity.MyAccountHelpRewardActivity"
            android:screenOrientation="portrait" />

        <!--账户管理-->
        <activity
            android:name="com.help.reward.activity.AccountManagerActivity"
            android:screenOrientation="portrait" />

        <!--修改密码-->
        <activity
            android:name="com.help.reward.activity.PwdUpdateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.PwdPaymentActivity"
            android:screenOrientation="portrait" />

        <!--我的求助-->
        <activity
            android:name="com.help.reward.activity.MyHelpActivity"
            android:screenOrientation="portrait" />

        <!--我的获赏-->
        <activity
            android:name="com.help.reward.activity.MyRewardActivity"
            android:screenOrientation="portrait" />

        <!--我的投票-->
        <activity
            android:name="com.help.reward.activity.MyVoteActivity"
            android:screenOrientation="portrait" />

        <!--我的收藏-->
        <activity
            android:name="com.help.reward.activity.MyCollectionActivity"
            android:screenOrientation="portrait" />

        <!--我的分享-->
        <activity
            android:name="com.help.reward.activity.MyShareActivity"
            android:screenOrientation="portrait" />

        <!--充值余额-->
        <activity
            android:name="com.help.reward.activity.PrepaidBalanceActivity"
            android:screenOrientation="portrait" />

        <!--通用卷-->
        <activity
            android:name="com.help.reward.activity.MyGeneralVolumeActivity"
            android:screenOrientation="portrait" />

        <!--优惠劵-->
        <activity
            android:name="com.help.reward.activity.MyCouponActivity"
            android:screenOrientation="portrait" />

        <!--余额-->
        <activity
            android:name="com.help.reward.activity.MyBalanceActivity"
            android:screenOrientation="portrait" />


        <!--优惠劵详情 买家-->
        <activity
            android:name="com.help.reward.activity.CouponDetailsBuyersActivity"
            android:screenOrientation="portrait" />

        <!--我的账户优惠金额-->
        <activity
            android:name="com.help.reward.activity.DiscountAmountActivity"
            android:screenOrientation="portrait" />
        <!--余额兑换帮赏分-->
        <activity
            android:name="com.help.reward.activity.BalanceExchangeHelpScoreActivity"
            android:screenOrientation="portrait" />
        <!--余额兑换通用卷-->
        <activity
            android:name="com.help.reward.activity.BalanceExchangeVolumeActivity"
            android:screenOrientation="portrait" />
        <!--选择兑换方式-->
        <activity
            android:name="com.help.reward.activity.ExchangeOptionActivity"
            android:screenOrientation="portrait" />
        <!--帮赏分兑换通用卷-->
        <activity
            android:name="com.help.reward.activity.GeneralExchangeVolumeActivity"
            android:screenOrientation="portrait" />
        <!--优惠劵交易大厅-->
        <activity
            android:name="com.help.reward.activity.CouponTradingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--优惠劵搜索结果展示-->
        <activity
            android:name="com.help.reward.activity.CouponTradingSearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--我的订单-->
        <activity
            android:name="com.help.reward.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <!--订单详情-->
        <activity
            android:name="com.help.reward.activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <!--发表评价-->
        <activity
            android:name="com.help.reward.activity.OrderPulishedEvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--投诉商家-->
        <activity
            android:name="com.help.reward.activity.OrderComplaintsMerchantActivity"
            android:screenOrientation="portrait" />
        <!--消息中心-->
        <activity
            android:name="com.help.reward.activity.MsgCenterActivity"
            android:screenOrientation="portrait" />
        <!--帖子动态-->
        <activity
            android:name="com.help.reward.activity.PostActivity"
            android:screenOrientation="portrait" />
        <!--互帮筛选-->
        <activity
            android:name="com.help.reward.activity.HelpFilterActivity"
            android:screenOrientation="portrait" />
        <!--发布帖子-->
        <activity
            android:name="com.help.reward.activity.ReleaseActivity"
            android:screenOrientation="portrait" />
        <!--发布求助帖-->
        <activity
            android:name="com.help.reward.activity.ReleaseHelpActivity"
            android:screenOrientation="portrait" />
        <!--发布获赏帖-->
        <activity
            android:name="com.help.reward.activity.ReleaseRewardActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情-->
        <activity
            android:name="com.help.reward.activity.HelpInfoActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情-->
        <activity
            android:name="com.help.reward.activity.TradeActivity"
            android:screenOrientation="portrait" />
        <!--个人主页-->
        <activity
            android:name=".activity.PersonHomepageActivity"
            android:screenOrientation="portrait" />

        <!--选择支付方式-->
        <activity
            android:name="com.help.reward.activity.PayTypeActivity"
            android:screenOrientation="portrait" />
        <!--订单支付成功-->
        <activity
            android:name="com.help.reward.activity.PayendActivity"
            android:screenOrientation="portrait" />
        <!--店铺详情-->
        <activity
            android:name="com.help.reward.activity.StoreInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!--商品详情-->
        <activity
            android:name="com.help.reward.activity.GoodInfoActivity"
            android:screenOrientation="portrait" />
        <!--搜索商品页面-->
        <activity
            android:name=".activity.SearchShopActivity"
            android:screenOrientation="portrait" />
        <!--搜索商品结果展示页面-->
        <activity
            android:name=".activity.SearchShopResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <!--看广告-->
        <activity
            android:name="com.help.reward.activity.WatchAdActivity"
            android:screenOrientation="portrait" />
        <!--搜索广告-->
        <activity
            android:name="com.help.reward.activity.SearchAdvertisementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GroupCouponsRecordActivity"
            android:screenOrientation="portrait" />

        <!-- 群组聊天-->
        <activity
            android:name="com.help.reward.chat.ui.GroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.chat.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <activity
            android:name="com.help.reward.chat.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.help.reward.chat.ui.PickAtUserActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.help.reward.chat.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".chat.ui.GroupDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".chat.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>

        <activity
            android:name=".chat.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--投票详情-->
        <activity
            android:name="com.help.reward.activity.HelpVoteInfoActivity"
            android:screenOrientation="portrait" />
        <!--求助详情-->
        <activity
            android:name="com.help.reward.activity.HelpSeekInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.ShowBigImageActivity"
            android:screenOrientation="portrait" />
        <!--提交投诉,投诉页面-->
        <activity
            android:name="com.help.reward.activity.HelpComplainedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.help.reward.activity.HelpSeekCommentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.help.reward.activity.HelpRewardInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.help.reward.activity.HelpRewardChatDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.help.reward.activity.HelpRewardCommentActivity"
            android:screenOrientation="portrait" />
        <!--申诉页面-->
        <activity
            android:name="com.help.reward.activity.HelpComplainedDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.help.reward.activity.SearchHelpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.ShopcartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.StoreKindsListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.GoodsTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <activity
            android:name=".activity.WebviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HelpPeopleNumberActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.pay.AlipayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_translucent" />

        <activity
            android:name=".activity.pay.WchatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_translucent" />

        <!--qq登陆 start-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106183304" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--qq登陆 end-->

        <!--<activity
            android:name="com.allenliu.sample.CustomVersionDialogActivity"
            android:theme="@style/versionCheckLibvtransparentTheme" />-->

        <!--sms的短信验证-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.help.reward.activity.GoodPropertyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialogIsTranslucent"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 开机自启动服务 -->
        <receiver android:name="com.help.reward.chat.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!--注册微信回调 WXEntryActivity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/style_transparent" />

        <!--支付宝支付 start-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!--支付宝支付 end-->

        <!--个推-->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message" />
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

        <service android:name=".service.DemoIntentService" />

        <!--个推-->

        <!-- 国内 key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d5e426677baa2007001842" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="111" />
        <!-- 友盟 END -->
    </application>

</manifest>