<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wxj.hbys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.VerifyIdentityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddressManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PersonInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CertificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HelpCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyAccountHelpRewardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AccountManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PwdLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PwdPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyHelpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyRewardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyVoteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PrepaidBalanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyGeneralVolumeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyCouponActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyBalanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CouponDetailsBuyersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DiscountAmountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BalanceExchangeHelpScoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BalanceExchangeVolumeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ExchangeOptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GeneralExchangeVolumeActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.CouponTradingActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.MyOrderActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.OrderDetailsActivity"
        android:screenOrientation="portrait" />

        <activity android:name=".activity.OrderPulishedEvaluateActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.OrderComplaintsMerchantActivity"
            android:screenOrientation="portrait" />
        <!--消息中心-->
        <activity android:name=".activity.MsgCenterActivity"
            android:screenOrientation="portrait" />
        <!--帖子动态-->
        <activity android:name=".activity.PostActivity"
            android:screenOrientation="portrait" />
        <!--互帮筛选-->
        <activity android:name=".activity.HelpFilterActivity"
            android:screenOrientation="portrait" />
        <!--发布帖子-->
        <activity android:name=".activity.ReleaseActivity"
            android:screenOrientation="portrait" />
        <!--发布求助帖-->
        <activity android:name=".activity.ReleaseHelpActivity"
            android:screenOrientation="portrait" />
        <!--发布获赏帖-->
        <activity android:name=".activity.ReleaseRewardActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情-->
        <activity android:name=".activity.HelpInfoActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情-->
        <activity android:name=".activity.TradeActivity"
            android:screenOrientation="portrait" />
        <!--选择支付方式-->
        <activity android:name=".activity.PayTypeActivity"
            android:screenOrientation="portrait" />
        <!--订单支付成功-->
        <activity android:name=".activity.PayendActivity"
            android:screenOrientation="portrait" />
        <!--店铺详情-->
        <activity android:name=".activity.ShopInfoActivity"
            android:screenOrientation="portrait" />
        <!--商品详情-->
        <activity android:name=".activity.GoodInfoActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>