<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.help.reward">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.help.reward.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.help.reward.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 验证身份 -->
        <activity
            android:name="com.help.reward.activity.VerifyIdentityActivity"
            android:screenOrientation="portrait" />

        <!--登录-->
        <activity
            android:name="com.help.reward.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--注册-->
        <activity
            android:name="com.help.reward.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <!--忘记密码-->
        <activity
            android:name="com.help.reward.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />

        <!--重置密码-->
        <activity
            android:name="com.help.reward.activity.ResetPwdActivity"
            android:screenOrientation="portrait" />

        <!--添加地址-->
        <activity
            android:name="com.help.reward.activity.AddAddressActivity"
            android:screenOrientation="portrait" />

        <!--地址管理-->
        <activity
            android:name="com.help.reward.activity.AddressManagerActivity"
            android:screenOrientation="portrait" />

        <!--个人信息-->
        <activity
            android:name="com.help.reward.activity.PersonInfoActivity"
            android:screenOrientation="portrait" />

        <!--设置-->
        <activity
            android:name="com.help.reward.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <!--关于-->
        <activity
            android:name="com.help.reward.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!--意见反馈-->
        <activity
            android:name="com.help.reward.activity.FeedbackActivity"
            android:screenOrientation="portrait" />

        <!--实名认证-->
        <activity
            android:name="com.help.reward.activity.CertificationActivity"
            android:screenOrientation="portrait" />

        <!--帮助中心-->
        <activity
            android:name="com.help.reward.activity.HelpCenterActivity"
            android:screenOrientation="portrait" />

        <!--我的账户-->
        <activity
            android:name="com.help.reward.activity.MyAccountActivity"
            android:screenOrientation="portrait" />

        <!--帮赏分-->
        <activity
            android:name="com.help.reward.activity.MyAccountHelpRewardActivity"
            android:screenOrientation="portrait" />

        <!--账户管理-->
        <activity
            android:name="com.help.reward.activity.AccountManagerActivity"
            android:screenOrientation="portrait" />

        <!--修改密码-->
        <activity
            android:name="com.help.reward.activity.PwdUpdateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.activity.PwdPaymentActivity"
            android:screenOrientation="portrait" />

        <!--我的求助-->
        <activity
            android:name="com.help.reward.activity.MyHelpActivity"
            android:screenOrientation="portrait" />

        <!--我的获赏-->
        <activity
            android:name="com.help.reward.activity.MyRewardActivity"
            android:screenOrientation="portrait" />

        <!--我的投票-->
        <activity
            android:name="com.help.reward.activity.MyVoteActivity"
            android:screenOrientation="portrait" />

        <!--我的收藏-->
        <activity
            android:name="com.help.reward.activity.MyCollectionActivity"
            android:screenOrientation="portrait" />

        <!--我的分享-->
        <activity
            android:name="com.help.reward.activity.MyShareActivity"
            android:screenOrientation="portrait" />

        <!--充值余额-->
        <activity
            android:name="com.help.reward.activity.PrepaidBalanceActivity"
            android:screenOrientation="portrait" />

        <!--通用卷-->
        <activity
            android:name="com.help.reward.activity.MyGeneralVolumeActivity"
            android:screenOrientation="portrait" />

        <!--优惠劵-->
        <activity
            android:name="com.help.reward.activity.MyCouponActivity"
            android:screenOrientation="portrait" />

        <!--余额-->
        <activity
            android:name="com.help.reward.activity.MyBalanceActivity"
            android:screenOrientation="portrait" />


        <!--优惠劵详情 买家-->
        <activity
            android:name="com.help.reward.activity.CouponDetailsBuyersActivity"
            android:screenOrientation="portrait" />

        <!--我的账户优惠金额-->
        <activity
            android:name="com.help.reward.activity.DiscountAmountActivity"
            android:screenOrientation="portrait" />
        <!--余额兑换帮赏分-->
        <activity
            android:name="com.help.reward.activity.BalanceExchangeHelpScoreActivity"
            android:screenOrientation="portrait" />
        <!--余额兑换通用卷-->
        <activity
            android:name="com.help.reward.activity.BalanceExchangeVolumeActivity"
            android:screenOrientation="portrait" />
        <!--选择兑换方式-->
        <activity
            android:name="com.help.reward.activity.ExchangeOptionActivity"
            android:screenOrientation="portrait" />
        <!--帮赏分兑换通用卷-->
        <activity
            android:name="com.help.reward.activity.GeneralExchangeVolumeActivity"
            android:screenOrientation="portrait" />
        <!--交易大厅-->
        <activity
            android:name="com.help.reward.activity.CouponTradingActivity"
            android:screenOrientation="portrait" />
        <!--我的订单-->
        <activity
            android:name="com.help.reward.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <!--订单详情-->
        <activity
            android:name="com.help.reward.activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <!--发表评价-->
        <activity
            android:name="com.help.reward.activity.OrderPulishedEvaluateActivity"
            android:screenOrientation="portrait" />
        <!--投诉商家-->
        <activity
            android:name="com.help.reward.activity.OrderComplaintsMerchantActivity"
            android:screenOrientation="portrait" />
        <!--消息中心-->
        <activity
            android:name="com.help.reward.activity.MsgCenterActivity"
            android:screenOrientation="portrait" />
        <!--帖子动态-->
        <activity
            android:name="com.help.reward.activity.PostActivity"
            android:screenOrientation="portrait" />
        <!--互帮筛选-->
        <activity
            android:name="com.help.reward.activity.HelpFilterActivity"
            android:screenOrientation="portrait" />
        <!--发布帖子-->
        <activity
            android:name="com.help.reward.activity.ReleaseActivity"
            android:screenOrientation="portrait" />
        <!--发布求助帖-->
        <activity
            android:name="com.help.reward.activity.ReleaseHelpActivity"
            android:screenOrientation="portrait" />
        <!--发布获赏帖-->
        <activity
            android:name="com.help.reward.activity.ReleaseRewardActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情-->
        <activity
            android:name="com.help.reward.activity.HelpInfoActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情-->
        <activity
            android:name="com.help.reward.activity.TradeActivity"
            android:screenOrientation="portrait" />
        <!--选择支付方式-->
        <activity
            android:name="com.help.reward.activity.PayTypeActivity"
            android:screenOrientation="portrait" />
        <!--订单支付成功-->
        <activity
            android:name="com.help.reward.activity.PayendActivity"
            android:screenOrientation="portrait" />
        <!--店铺详情-->
        <activity
            android:name="com.help.reward.activity.StoreInfoActivity"
            android:screenOrientation="portrait" />
        <!--商品详情-->
        <activity
            android:name="com.help.reward.activity.GoodInfoActivity"
            android:screenOrientation="portrait" />
        <!--看广告-->
        <activity
            android:name="com.help.reward.activity.WatchAdActivity"
            android:screenOrientation="portrait" />
        <!--搜索广告-->
        <activity
            android:name="com.help.reward.activity.SearchAdvertisementActivity"
            android:screenOrientation="portrait" />


        <!-- 群组聊天-->
        <activity
            android:name="com.help.reward.chat.ui.GroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.help.reward.chat.ui.ContextMenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.help.reward.chat.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.help.reward.chat.ui.PickAtUserActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.help.reward.chat.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".chat.ui.GroupDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".chat.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>

        <activity
            android:name=".chat.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--投票详情-->
        <activity
            android:name="com.help.reward.activity.HelpVoteInfoActivity"
            android:screenOrientation="portrait" />
        <!--求助详情-->
        <activity
            android:name="com.help.reward.activity.HelpSeekInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />
        <!--提交投诉-->
        <activity
            android:name="com.help.reward.activity.HelpComplainedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.help.reward.activity.HelpSeekCommentDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 开机自启动服务 -->
        <receiver android:name="com.help.reward.chat.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>